<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Group11Project.Properties.Settings.GROUP11_DBConnectionString"
            connectionString="Data Source=KEVIN;Initial Catalog=GROUP11_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Group11Project.Properties.Settings.GROUP11_DB_2ConnectionString"
            connectionString="Data Source=KEVIN;Initial Catalog=GROUP11_DB_2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>